.card{
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card img{
  /* margin: 5px; */
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
  margin-right: 15px;
  text-align: center;
  max-width: 250px;
}

.card h2{
  font-family: sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card p{
  font-family: sans-serif;
  color: hsl(0, 0%, 30%);
}

/* Style react components with CSS - External */
/* .button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

/* Props */
.student{
  font-family: sans-serif;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;
}

.welcome-msg{
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

/* useState */
.counter-container{
  text-align: center;
  font-family: sans-serif;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: purple ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: rgb(81, 0, 81) ;
}


/* Color Picker */
.color-picker-container{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-container h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-picker-container input[type = "color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0, 80%);
}

/* To Do List App */
.to-do-list{
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

.to-do-list h1{
  font-size: 4rem;
}

.to-do-list button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: #1599db ;
}

.add-button:hover{
  background-color: #47a8d9;
}

.delete-button{
  background-color: #f65353;
}

.delete-button:hover{
  background-color: #fc6868;
}

.move-button{
  background-color: beige;
}

.move-button:hover{
  background-color: rgb(221, 221, 200);
}

.to-do-list input[type = "text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: darkslategray;
}

.to-do-list ol{
  padding: 0; 
}

.to-do-list li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%; 
  shortcut of flex: 1*/
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}


/* Digital Clock */
.clock-container{
  background-image: url(assets/Traffic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-attachment: fixed;
  margin: 0;

  /* optional */
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
  align-items: center;

  /* clock-container */
  backdrop-filter: blur(500px);
  /* width: 100vw; */
  padding: 10px 0;
}

.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.75);
  text-align: center;
}